{
  "swagger": "2.0",
  "info": {
    "title": "CustomTeamsPostMessageEx",
    "description": "Microsoft Graph API を利用して Teams へメンション付きの投稿を行います。特定のユーザー、またはチャネル全体に対してのメンションが可能です（2019/07/13 時点ではチーム全体に対してのメンションが API ではサポートされていません）",
    "version": "1.0"
  },
  "host": "graph.microsoft.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/beta/teams/{teamid}/channels/{channelid}/messages": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "replyToId": {
                  "type": "string",
                  "description": "replyToId"
                },
                "etag": {
                  "type": "string",
                  "description": "etag"
                },
                "messageType": {
                  "type": "string",
                  "description": "messageType"
                },
                "createdDateTime": {
                  "type": "string",
                  "description": "createdDateTime"
                },
                "lastModifiedDateTime": {
                  "type": "string",
                  "description": "lastModifiedDateTime"
                },
                "deletedDateTime": {
                  "type": "string",
                  "description": "deletedDateTime"
                },
                "subject": {
                  "type": "string",
                  "description": "subject"
                },
                "summary": {
                  "type": "string",
                  "description": "summary"
                },
                "importance": {
                  "type": "string",
                  "description": "importance"
                },
                "locale": {
                  "type": "string",
                  "description": "locale"
                },
                "webUrl": {
                  "type": "string",
                  "description": "webUrl"
                },
                "policyViolation": {
                  "type": "string",
                  "description": "policyViolation"
                },
                "from": {
                  "type": "object",
                  "properties": {
                    "application": {
                      "type": "string",
                      "description": "application"
                    },
                    "device": {
                      "type": "string",
                      "description": "device"
                    },
                    "conversation": {
                      "type": "string",
                      "description": "conversation"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "displayName": {
                          "type": "string",
                          "description": "displayName"
                        },
                        "userIdentityType": {
                          "type": "string",
                          "description": "userIdentityType"
                        }
                      },
                      "description": "user"
                    }
                  },
                  "description": "from"
                },
                "body": {
                  "type": "object",
                  "properties": {
                    "contentType": {
                      "type": "string",
                      "description": "contentType"
                    },
                    "content": {
                      "type": "string",
                      "description": "content"
                    }
                  },
                  "description": "body"
                },
                "attachments": {
                  "type": "array",
                  "items": {},
                  "description": "attachments"
                },
                "mentions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "mentionText": {
                        "type": "string",
                        "description": "mentionText"
                      },
                      "mentioned": {
                        "type": "object",
                        "properties": {
                          "application": {
                            "type": "string",
                            "description": "application"
                          },
                          "device": {
                            "type": "string",
                            "description": "device"
                          },
                          "user": {
                            "type": "string",
                            "description": "user"
                          },
                          "conversation": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "displayName": {
                                "type": "string",
                                "description": "displayName"
                              },
                              "conversationIdentityType@odata.type": {
                                "type": "string",
                                "description": "conversationIdentityType@odata.type"
                              },
                              "conversationIdentityType": {
                                "type": "string",
                                "description": "conversationIdentityType"
                              }
                            },
                            "description": "conversation"
                          }
                        },
                        "description": "mentioned"
                      }
                    }
                  },
                  "description": "mentions"
                },
                "reactions": {
                  "type": "array",
                  "items": {},
                  "description": "reactions"
                }
              }
            }
          }
        },
        "summary": "Post with mention",
        "description": "mention 込みの投稿を Teams に行います",
        "operationId": "PostWithMentionEx",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "body": {
                  "type": "object",
                  "properties": {
                    "contentType": {
                      "type": "string",
                      "description": "contentType",
                      "enum": ["html","text"]
                    },
                    "content": {
                      "type": "string",
                      "description": "content"
                    }
                  },
                  "description": "body"
                },
                "mentions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "mentionText": {
                        "type": "string",
                        "description": "mentionText"
                      },
                      "mentioned": {
                        "type": "object",
                        "properties": {
                          "conversation": {
                            "type": "object",
                            "properties": {
                              "displayName": {
                                "type": "string",
                                "description": "displayName"
                              },
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "conversationIdentityType@odata.type": {
                                "type": "string",
                                "description": "conversationIdentityType@odata.type",
                                "example":"#Microsoft.Teams.GraphSvc.conversationIdentityType"
                              },
                              "conversationIdentityType": {
                                "type": "string",
                                "description": "conversationIdentityType",
                                "enum": ["user", "channel"]
                              }
                            },
                            "description": "conversation"
                          }
                        },
                        "description": "mentioned"
                      }
                    }
                  },
                  "description": "mentions"
                }
              }
            }
          },
          {
            "name": "teamid",
            "in" : "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelid",
            "in" : "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {
        "https://graph.microsoft.com/.default": "https://graph.microsoft.com/.default"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "https://graph.microsoft.com/.default"
      ]
    }
  ],
  "tags": []
}